@{
    ViewData["Title"] = "History";
}

<header>
    <a class="home-icon" href="index.html"></a>
    Протокол SMTP
</header>
<main>
    <section class="central-2">
        <header>Протокол SMTP</header>
        <article>
            <p>
                <strong>SMTP (Simple Mail Transfer Protocol)</strong> впервые был описан в RFC 821 (1982 год),
                последнее обновление в RFC 5321 (2008) включает масштабируемое расширение — <i>ESMTP</i>
                (англ. <i>Extended SMTP</i>). В настоящее время под «протоколом SMTP», как правило, подразумевают и
                его расширения.
            </p>
            <p>
                Протокол SMTP предназначен для передачи исходящей почты с использованием порта
                <strong>TCP 25</strong>. Первым клиентом, работающим под стеком SMTP, стал
                <strong>Sendmail</strong>. На сегодняшний день это типовой почтовый протокол.
                Его используют все почтовые программы и серверы.
            </p>
            <div class="img-container">
                <img src="~/images/e-mail.jpg">
            </div>
        </article>
    </section>
</main>