@{
    ViewData["Title"] = "Index";
}

<header>Протокол SMTP</header>
<main>
    <section>
        <article class="central-1">
            <a class="icon-container" href="history.html">
                <img src="img/hourglass.png">
                <p>История</p>
            </a>
            <a class="icon-container" href="principle.html">
                <img src="img/wheels.png">
                <p>Принцип работы</p>
            </a>
            <a class="icon-container" href="sending.html">
                <img src="img/mail.png">
                <p>Отправка почты</p>
            </a>
        </article>
    </section>
</main>
