@{
    ViewData["Title"] = "Principle";
}
<main>
    <section class="central-2">
        <header>Принцип работы протокола SMTP</header>
        <article>
            <p>
                <strong>SMTP</strong> — текстовый протокол, его принцип работы требует соединения, по которому
                пользователь, отправляющий электронное письмо, связывается с его получателем используя определенную
                командную строку. А получение данных происходит посредством использования надежного канала связи.
                Как правило, этим каналом связи является соединение <strong>TCP</strong>.
            </p>
            <p>
                Протокол SMTP не несет никакой ответственности за прием почты. Это означает, что в спецификации этого
                протокола не определены способы настройки почтовых ящиков для отдельных пользователей, а также не
                упоминаются какие-либо иные задачи (такие как аутентификация), которые должны быть решены при приеме
                электронной почты. В этой спецификации просто указано, как должна осуществляться передача электронной
                почты от отправителя к получателю.
            </p>
            <p>
                Для работы через протокол SMTP клиент создаёт TCP соединение с сервером через <strong>порт 25</strong>.
                Затем клиент и SMTP сервер обмениваются информацией пока соединение не будет закрыто или прервано.
                Основной процедурой в SMTP является передача почты - <strong>Mail Procedure</strong>. Далее идут
                процедуры <strong>Mail Forwarding</strong>, проверка имён почтового ящика и вывод списков почтовых
                групп. Самой первой процедурой является открытие канала передачи, а последней - его закрытие.
            </p>
            <p>
                Операция протокола включает в себя комбинацию, состоящую из следующих последовательностей команд
                и ответов:
            </p>
            <ul>
                <li><strong>Команда MAIL FROM</strong> — обозначает обратный электронный адрес</li>
                <li><strong>Команда RCPT TO</strong> — определяет получателя конкретного письма</li>
                <li>
                    <strong>DATA</strong> — это команда, отвечающая за отправку текста электронного сообщения. Это
                    тело письма, которое включает в себя заголовок и текста письма, разделенных между собой пустой
                    строкой.
                </li>
            </ul>
            <p>
                <i>Команды SMTP</i> указывают серверу, какую операцию хочет произвести клиент. Команды состоят из
                ключевых слов, за которыми следует один или более параметров. Ключевое слово состоит из
                <strong>4-х символов</strong> и разделено от аргумента одним или несколькими пробелами.
            </p>
            <p>
                Трехзначные цифровые комбинации в начале передаваемых строк обозначают коды ответа:
            </p>
            <ul>
                <li><strong>220</strong> — соединение успешно установлено</li>
                <li><strong>250</strong> — команда принята и обработана</li>
                <li>
                    <strong>550</strong> — <strong>МТА (Message Transfer Agent)</strong> не в состоянии выполнить
                    запрос клиента, поскольку не знает, как доставить почту указанному пользователю. (скорее всего,
                    указанного почтового ящика не существует на компьютере клиента)
                </li>
                <li><strong>354</strong> — клиент может начать передачу данных</li>
                <li><strong>221</strong> — этот код подтверждает клиенту, что соединение будет закрыто</li>
            </ul>
            <p>
                Ответ SMTP похож на сообщения-подтверждения о доставке, поскольку появляется лишь в том случае, когда
                приемник получил данные.
            </p>
            <output>
<pre>1	RECEIVER	220 mit.edu Simple Mail Transfer Service Ready
2	SENDER	HELO usc.edu
3	RECEIVER	250 mit.edu
4	SENDER	MAIL FROM: &lt;Smith@usc.edu&gt;
5	RECEIVER	250 OK
6	SENDER	RCPT TO:&lt;Jones@mit.edu&gt;
7	RECEIVER	250 OK
8	SENDER	RCPT TO:&lt;Green@mit.edu&gt;
9	RECEIVER	550 No such user here
10	SENDER	RCPT TO:&lt;Brown@mit.edu&gt;
11	RECEIVER	250 OK
12	SENDER	DATA
13	RECEIVER	354 Start mail input; end with &lt;CRLF&gt;.&lt;CRLF&gt;
14	SENDER	Blah blah blah...
15	SENDER	...etc. etc. etc.
16	SENDER	.
17	RECEIVER	250 OK
18	SENDER	QUIT
19	RECEIVER	221 mit.edu Service closing transmission channel</pre>
            </output>
        </article>
    </section>
</main>